{% extends "layout.html" %}
{% set active_page ="dotplot" %}

{% block title %}Graph{% endblock %}

{% block content %}
    <script src="/static/CanvasChart.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var dataDef = { title:"Legitimacy Score for different countries",
                            xLabel: 'Country',
                            yLabel: 'Legitimacy Score',
                            labelFont: '12pt Arial', 
                            dataPointFont: '8pt Arial',
                            renderTypes: [CanvasChart.renderType.lines, CanvasChart.renderType.points],
                            dataPoints:  [{{datapoints}}]
                           };
            CanvasChart.render('canvas', dataDef);
        });

    </script>
	<canvas id="canvas" width="2000" height="1200"></canvas>
	
{% endblock %}