{% extends "layout.html" %}
{% set active_page ="index" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>About the State Fragility data</h1>
   <p id="main">
     This data and research about state fragility was taken from a CORGIS data set.  It applies a score from -10 to +10.
    The scores are for a country's security, politics, economics, and social aspects.  The data is only for countries
    with a population of over 500,000.  The data is used to evaluate a countries fragility. The fragility is a measure
    of how susceptible a country is to a crisis.  This is for internal and external shocks to the country.  The data
    can be used to assist countires in need or to determine strong countires.  
    <p id="src">
     <b>sources</b>
    http://www.lse.ac.uk/internationalDevelopment/research/crisisStates/download/drc/FailedState.pdf
    http://www.systemicpeace.org/inscrdata.html
  </p>
   </p>
{% endblock %}
